.card-header3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.card-header2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

@media screen and (max-width:576px){
    .card-header3, .card-header2{
        grid-template-columns: repeat(1, 1fr);
    }

}
@media screen and (min-width: 577px) and (max-width: 922px){
    .card-header3, .card-header2{
        grid-template-columns: repeat(2, 1fr);
    }

}
@media screen and (min-width: 923px) and (max-width: 1200px){
    .card-header3, .card-header2{
        grid-template-columns: repeat(2, 1fr);
    }

}
